[bumpversion]
current_version = 3.0.0
commit = False
tag = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:ai_rom_batch_renamer/modules/const.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"
